<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <system.net>
<!--
        <defaultProxy useDefaultCredentials="true">
            <proxy autoDetect="true"
                   bypassonlocal="true"
                   proxyaddress="127.0.0.1:3128"
                   scriptLocation="http://127.0.0.1/pac/bay.pac" />
        </defaultProxy>

		<connectionManagement>
            <add address="*" maxconnection="100" />
        </connectionManagement>
-->

    </system.net>

    <system.web>

		<httpRuntime enableVersionHeader="false" />

		<httpCookies httpOnlyCookies="true" requireSSL="true" />

    </system.web>

    <system.webServer>

        <httpProtocol allowKeepAlive="true">
            
            <customHeaders>

                <remove name="X-Powered-By" />
                <remove name="X-Frame-Options" />

                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Cache-Control" value="no-cache" />
                
            </customHeaders>

        </httpProtocol>

        <directoryBrowse enabled="false" />

        <urlCompression doStaticCompression="true"
                        doDynamicCompression="true" />

        <staticContent>

            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-woff" />

            <clientCache cacheControlMode="UseExpires" httpExpires="Mon, 31 Dec 2029 23:59:59 GMT" />

        </staticContent>

        <!-- START: URL Rewrite -->

        <rewrite>

            <outboundRules>

                <rule name="Replace Header: Server" enabled="true">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" value="BAY-WS" />
                </rule>

                <rule name="Remove Header: ETag" enabled="true">
                    <match serverVariable="RESPONSE_ETag" pattern=".*" />
                    <action type="Rewrite" value="" />
                </rule>

                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=63072000; includeSubDomains" />
                </rule>

            </outboundRules>
            

			<rules>

				<rule name="HTTP to HTTPS redirect" stopProcessing="true" enabled="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>

					<!-- redirectType: 301=Permanent, 302=Found -->

					<!-- defualt SSL port: 443 -->
					<!-- action type="Redirect" redirectType="Permanent" url="https://{SERVER_NAME}/{R:1}" /-->
						
					<!-- specific SSL port: 8443 -->
					<action type="Redirect" redirectType="Permanent" url="https://{SERVER_NAME}:8443/{R:1}" />
				</rule>

			</rules>

		</rewrite>

        <!-- END: URL Rewrite -->

    </system.webServer>

</configuration>